.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

li:nth-child(odd) {
    background-color: #181818;
}

li:nth-child(even) {
    background-color: #202020;
}

.beer-count {
    font-weight: 900;
    font-size: larger;
}

.count-buttons {
    display: flex;
    gap: 1rem;
}

.count-buttons button {
    border: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: larger;
    color: white;
    padding: 0.5rem 1rem;
}

.increment-button {
    background-color: #ce773b;
}

.decrement-button {
    background-color: #000000;
}

.add-beer {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
}

.add-beer input {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 1rem;
    flex: 1;
    min-width: 0;
}

.add-beer input:focus {
    outline: none;
}

.end-session-button {
    padding: 0.5rem 1rem;
    margin: 2rem;
    background-color: #ce773b;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
}